* {
    box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
background-image: url('images/patt.png');
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu:after {
    content: "";
    display: block;
    clear:both;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width:50%;
}
.col-md-4 {
    width: 33.3%;
}
.col-md-8 {
    width: 66.6%;
}
.col-md-12 {
    width:100%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}
.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
}
.dropdown-content a {
    width: 286px;
    background-color:#2c71b8 ;
    color: white;
    margin-left: -1px;

}
.dropdown:hover .dropdown-content{
    display: block; 
    background-color: #2c71b8;
}

.dropdown-content a:hover {
    background-color:rgb(255, 255, 255) ;
    color: #2c71b8;
}
li.dropdown>a:hover {
    background-color: #2c71b8;
    color: white;
}
.col-md-9 {
    width: 75%;
}
form {
    position: relative;
    border-color: #2c71b8;
    
}
    
.input-search {
    height: 40px;
    width: 200px;
    line-height: 40px;
    background-color: transparent;
    border: solid 1px #2c71b8;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 5px;
    outline: none;
}
input::placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.btn-search {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    border:none;
    top: 10px;
    right: 0;
}
.btn-basket {
    position: relative;
    top:5px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: white;
}
.product-count {
    position: absolute;
    top: 20px;
    right:210px;
    background-color: #2c71b8;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}
.links {
    padding: 30px 0px 30px 0px;
}
.links>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    
}
.title-sort {
padding-bottom: 15px;
}
.sort {
    float:right;
    width: 270px;
    height:40px;
    border: solid white 1px;
    text-decoration: none;
    color: white;
    background-color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    padding: 8px 134px 10px 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
[class*="device"] {
    width: 270px;
    height: 650px;
    border: solid white 1px;
    position: relative;
}
.first-device {
    margin-left:14px;
}

.second-device {
    margin-left:6px;
}
.third-device {
    margin-left:-4px;
}


.product-images {
    background-color: rgba(255, 255, 255, 0.75);
    height: 175px;
    width: 270px;
    margin-top: -1px;
}

.first-image {
    position: absolute;
    left:32%;
    top:6%;
}
.second-image {
    position: absolute;
    left:30%;
    top:6%;
}
.third-image {
    position: absolute;
    left:39%;
    top:6%;
}
.zoom {
    background-image: url('images/screen.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right:10px;
    top:10px;
    height: 20px;
    width:20px;
    padding: 14px;
    border: 1px solid #2c71b8;
}
.zoom:hover {
    background-image: url('images/white-screen.png');
    background-color: #2c71b8;
}
.like {
    background-image: url('images/blue-hurt.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right:10px;
    top:50px;
    height: 20px;
    width:20px;
    padding: 14px;
    border: 1px solid #2c71b8;
}
.like:hover {
    background-image: url('images/white-hurt.png');
    background-color: #2c71b8;
}
.product-body {
    padding-top: 15px;
    padding-left: 15px;
}
.name {
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
.product-description {
    color: white;
    font-size: 21px;
    font-weight: 300;
}
.product-description + .product-features {
    padding-top: 15px;
}
.product-features {
    color: white;
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 15px;
}
span {
    font-weight: 700;
}
.price-1 {
    padding-left: 66px;
}
.price-2 {
    padding-left: 56px;
}
.price-3 {
    padding-left: 66px;
}
[class*="price"] {
    color: white;
    font-size: 48px;
    font-weight: 700;
}
.cent {
    vertical-align: text-top;
    font-size: 21px;
}
.btn-add-to-cart, .btn-more-details {
    width: 210px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-size: 21px;
    font-weight: 700;
}
.btn-more-details {
    margin-top: 30px ;
    margin-bottom: 15px;
    background-color: #2c71b8;
    border: 1px solid white;
}
.btn-add-to-cart {
    background-color: #568dc6;
    border: none;
    position: relative;
}
.white-basket {
    position: absolute;
    right: 35px;
    bottom: 45px;
}
.btn-add-to-cart:hover,.btn-more-details:hover {
    background-color: white;
    color:#2c71b8;  
}
