* {
    box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
background-image: url('images/patt.png');
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after, .menu:after {
    content: "";
    display: block;
    clear:both;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width:50%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}
.menu li {
    width: 25%;
    float: left;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
}
.dropdown-content a {
    width: 286px;
    background-color:#2c71b8 ;
    color: white;
    margin-left: -1px;

}
.dropdown:hover .dropdown-content{
    display: block; 
    background-color: #2c71b8;
}

.dropdown-content a:hover {
    background-color:rgb(255, 255, 255) ;
    color: #2c71b8;
}
li.dropdown>a:hover {
    background-color: #2c71b8;
    color: white;
}
.col-md-9 {
    width: 75%;
}
form {
    position: relative;
    border-color: #2c71b8;
    
}
    
.input-search {
    height: 40px;
    width: 200px;
    line-height: 40px;
    background-color: transparent;
    border: solid 1px #2c71b8;
    margin-top: 5px;
    padding-left: 20px;
    padding-top: 5px;
    outline: none;
}
input::placeholder {
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.btn-search {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    border:none;
    top: 10px;
    right: 0;
}
.btn-basket {
    position: relative;
    top:5px;
    width: 40px;
    height: 40px;
    background-color: white;
    border: white;
}
.product-count {
    position: absolute;
    top: 20px;
    right:210px;
    background-color: #2c71b8;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
}
.links {
    padding: 30px 0px 30px 0px;
}
.links>a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}
.title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 700;
    padding-bottom: 60px;
}


.image {
    position: absolute;
    width: 270px;
    height:180px;
    margin-left: -1px;
    background-color:rgba(255, 255, 255, 0.75) ;
}
li>:first-child {
    position: relative;
    text-align: center;
}
.first-image> img {
    margin-top: 40px;
}
.first-screen, .first-hurt, .second-screen, .third-screen, .third-hurt {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #2c71b8;
    
}
.first-screen {
    bottom:125px;
    left: 230px;
    padding: 4px;
}
.first-hurt {
    bottom:90px;
    left: 196px;
    padding: 5px 5px 5px 5px;
}
.second-screen {
    bottom:118px;
    left: 230px;
    padding: 4px;
}
.white-hurt {
    position: relative;
    bottom: 84px;
    left: 196px;
    padding: 5px 5px 5px 5px;
    background-color: #2c71b8;
    border: 1px solid #2c71b8;
}
.third-screen {
    bottom:136px;
    left: 230px;
    padding: 4px;
}
.third-hurt {
    bottom:100px;
    left: 196px;
    padding: 5px 5px 5px 5px;
}
.description {
    text-align: left;
    padding-left: 20px;
    color: white;
    font-size: 21px;
}

.name {
    font-size: 30px;
    font-weight: 700;
    padding-top: 200px;
    padding-bottom: 20px;

}
.price {
    text-align: left;
    padding-left: 70px;
    padding-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.more-details, .add-cart {
    width: 210px;
    height: 50px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-size: 21px;
    font-weight: 700;
}
.more-details {
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 15px;
}
.add-cart {
    background-color: #568dc6;
    border: none;
}
.white-basket {
    position: relative;
    top: -35px;
    left:217px
}
span {
    font-size: 21px;
    font-weight: 700;
}

.dscr {
    padding-bottom: 20px;
}
.cent {
    text-align: top;
}

.first-device {
    margin-right: 30px;
    margin-left: 15px;
    float: left;
    padding-right: 15px;;
    height: 650px;
    width: 270px;
    border: solid 1px white;
}
.second-device {
    float: left;
    padding-right: 15px;
    height: 650px;
    width: 270px;
    border: solid 1px white;
}
.third-device {
    margin-left: 30px;
    float: left;
    padding-right: 15px;
    height: 650px;
    width: 270px;
    border: solid 1px white;
}